# Application Settings
SECRET_KEY=your-production-secret-key-here
DEBUG=False
ALLOWED_HOSTS=.onrender.com,yourcustomdomain.com

# PostgreSQL Database (Provided automatically by Render if linked or added as Environment Variable)
DATABASE_URL=postgresql://real_estatesql_user:ToHpV2spEJrBicBcZqvWQVlCeVXqaX1S@dpg-daaoqc1srm7s73fis4s0-a/real_estatesql

# Alternative DB Config (for local development with MySQL or SQLite)
USE_MYSQL=False
DB_ENGINE=django.db.backends.mysql
DB_NAME=real_estate_db
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_HOST=127.0.0.1
DB_PORT=3306
